export(Abi, aquaenv, as.data.frame.aquaenv, Atri, att, Auni, basicplot, bjerrumplot, c.aquaenv, calcH_CO2, calcH_TA, calcSumCO2_pH_CO2, calcSumCO2_pH_TA, calcSumCO2_TA_CO2, calcTA, calcTAMinor, Cl, cloneaquaenv, convert, convert.aquaenv, convert.standard, cumulativeplot, dAdH_bi, dAdH_tri, dAdH_uni, deltaPlnK, dH2AdH_bi, dH2AdH_tri, dH3AdH_tri, dHAdH_bi, dHAdH_tri, dHAdH_uni, dTAdH, dTAdKdKdd, dTAdKdKdS, dTAdKdKdSumH2SO4, dTAdKdKdSumHF, dTAdKdKdT, from.data.frame, H2Abi, H2Atri, H3Atri, HAbi, HAtri, HAuni, hydroP, I, Iterms, K_BOH3, K_CO2, K_H2PO4, K_H2S, K_H3PO4, K_HCO3, K_HF, K_HPO4, K_HSO4, K_NH4, K_SiOH4, K_SiOOH3, K_W, K0_CO2, K0_O2, Ksp_aragonite, Ksp_calcite, length.aquaenv, lnK, logK, merge.aquaenv, molal2molin, opendevice, plot.aquaenv, plotall, revelle, seaconc, seadensity, selectplot, splitS_K_CO2, splitS_K_HCO3, Sterms, TAfit, titration, Tk)

